.container {
  max-width: 400px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.finance-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaço entre os campos */
}

input, select, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #27ae60;
}